body {
       
    font-family: Arial, sans-serif;
}


header, nav, main, footer {
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* Ensure images are never wider than their container */
  height: auto; /* Maintain aspect ratio */
}

.banner {
  width: 100%;
  display: flex;
}

.logo img {
  height: 70px;
  margin-right: 40px;
}

.left-section, .right-section {
  display: flex;
  align-items: center;
  height: 100px;
 
}


.left-section {
 flex: 2;
  background-color: #0000FF; /* Albastru */
  justify-content: flex-end;
  align-items: right;
  padding-left: 5px; /* Adaugă un padding pentru a nu lipi conținutul de margine */
}

.right-section {
  flex: 6;  
  background-color: #ffaab8; 
  justify-content: flex-start;
}
.logo-link1 {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 34px; 
  color: #e9445f; 
  text-decoration: none; 
  font-weight: bold;
  transition: color 0.3s ease; 
}

.logo-link1:hover {
  color: #ae374b; 
}


.logo-link2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #0A84FF;
  text-decoration: none;
  font-weight: bold; 
  transition: color 0.3s ease; 
}

.logo-link2:hover {
  color: #0066cc; 
}

nav {
  background: #ffffff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #0A84FF; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    font-weight: bold; 
  }
  
  
  nav ul li a:hover {
    background-color: #ffaab8; /* O nuanță mai închisă la hover */
  }
  
  /* Menține stilul butoanelor chiar și la elementele active/focus */
  nav ul li a:active, nav ul li a:focus {
    background-color: #004494; /* O culoare și mai închisă pentru click sau focus */
  }
  

aside {
  background: #f6e5c3;
  padding: 1rem;
  }
aside p {
  font-variant: small-caps;
}

.derby {
      display: flex; /* Aplică Flexbox pentru a alinia elementele orizontal */
      align-items: center; /* Centrează elementele pe verticală */
      background: #f6e5c3;
      padding: 1rem;
  }
  
.derby img {
      height: 140px; /* Ajustează înălțimea imaginii dacă este necesar */
      margin-right: 20px; /* Adaugă un spațiu între imagine și text */
  }
  
.derby h2, .derby p {
      margin: 0; /* Elimină marginile implicite pentru a controla mai bine spațiul */
  }
  
footer {
      padding: 0.5rem;
      border-top: 0.1rem solid #877D6C;
      width: 100%;
      color: #736B5E;
      text-align: center;
  }

  .gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
  }
  